{% extends 'layout.html' %}

{% block title %} Welcome {% endblock %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
  <div id="top-div">
    <div class="typewriter">
      <h1>Decode and Generate Captions for Images</h1>
    </div>
  </div>
  <div class="hero-image" style="border: 5px solid black;">
    <div class="hero-text">
      <h1 style="font-size:50px">Welcome to the AI Tool</h1>
      <a href="{{url_for('upload')}}" id="bt">
        <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Go to the Image Caption Generator app">
          Try now!
        </button>
      </a>
      <p>An one stop destination to process and decode you images. Generate caption for your images, extract its features and detect the edges.
      Also find the anomalies in the image from a reference.
      </p>
    </div>
  </div>
{% endblock %}
