{% extends 'layout.html' %}

{% block title %} Decode Images {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<center>
    <div id="up" style>
        <form method="POST" enctype="multipart/form-data" >
            <h3 style="color:white;">Decode Your Images</h3>
            <input type="file" class="fminp" name="photo" id="fup1"><br>
            <button type="submit" class="subbut" name="action" value="upload" onclick="return Empty()">Generate Caption</button>
            <button type="submit" class="subbut" name="action" value="edge" onclick="return Empty()">Detect Edges</button>
            <button type="submit" class="subbut" name="action" value="feat" onclick="return Empty()">Extract Features</button>
            <br><br>
            <input type="file" class="fminp" name="photo2" id="fup2" placeholder="only for anomaly"><br>
            <button type="submit"  class="subbut" name="action" value="ano" onclick="return Detect()">Find Anomalies</button>
            <br>
        </form>
    </div>
</center>
<center>
    <div id="cap">
        {% if cp %}
            <div class="typewriter">
                <h1>{{cp}}</h1>
            </div>
            <div id="img">
                <img src={{src}} width="35%">
            </div>
        {% endif %}
    </div>
</center>
<script>
    function Empty() {
        var image1 = document.getElementById('fup1');
        var img1 = image1.files[0];
        if(!img1) {
            alert("Please upload an image!");
            return false;
        } 
    }
    function Detect() {
        var image1 = document.getElementById('fup1');
        var img1 = image1.files[0];
        var image2 = document.getElementById('fup2');
        var img2 = image2.files[0];
        if(!img1 && !img2) {
            alert("Please upload the images!");
            return false;
        } else if(!img1) {
            alert("Please upload reference image!");
            return false;
        } else if(!img2) {
            alert("Please upload test image!")
            return false;
        } 
    }
</script>

{% endblock %}
